html{
    scroll-behavior: smooth;
}
section{
    margin-top: 200px;
}
.col{
    text-align: center;
}
.col h2{
    text-align: left;
}
.col h1{
    margin-top: 1px;
    text-align: left;
}
.col h4{
    margin-top: 1px;
    text-align: left;
}
.col .proj{
    text-align: center;
}

.col img{
    width: 250px;
}
.fox:hover{
    opacity: 30%;
    background-color: black;
}
.abtme{
    text-align: center;
    background-color: #f2f2f5;
    left: 50%;
    right: 50%;
}
.prjct{
    text-align: center;
}
.projectShow{
    margin-top: 25px;
    margin-bottom: 25px;
}
.proj h2{
    text-align: center;
    text-decoration-line: underline;
}
.proj p{
    text-align: center;
}
.nav-item a{
    color: white;
}
.nav-item a{
    color: white;
}
.miku .show{
    display: inline-block;
}
.miku img{
    display: none;
}
.autoslider{
    position:relative;
    animation:
    animateright 0.7s}
@keyframes animateright{
    from{right:-300px;opacity:0} 
    to{right:0;opacity:1}
 }
 .autoslidel{
    position:relative;
    animation:
    animateleft 0.4s}
@keyframes animateleft{
    from{left:-300px;opacity:0} 
    to{left:0;opacity:1}
 }
